In [46]:
# modules
import pandas as pd
import numpy as np

In [47]:
# capture data
df = pd.read_csv('budget_data.csv')

In [48]:
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [49]:
type(df)

pandas.core.frame.DataFrame

In [50]:
# capture data for Profit/Losses
profits = df['Profit/Losses']

In [51]:
# capture formatted version of avg_change
a_c = '{:.2f}'.format(avg_change)
print(a_c)

446309.05

In [52]:
# calculate total number of months
total_months = len(df)

# calculate net total of Profit/Losses
total = df['Profit/Losses'].sum()

# calculate avg of changes in Profit/Losses
avg_change = profits.mean()

# calculate greatest increase in profits
max_increase = profits.idxmax()

# calculate greatest decrease in losses
max_decrease = profits.idxmin()

# print results
print('Financial Analysis')
print('--------------------------')
print(f'Total Months: {total_months}')
print(f'Total: ${total}')
print(f'Average Change: ${a_c}')
print('')
print(f'''Greatest Increase in Profits:
{df.loc[max_increase]}''')
print('')
print(f'''Greatest Decrease in Profits: 
{df.loc[max_decrease]}''')

Financial Analysis
--------------------------
Total Months: 86
Total: $38382578
Average Change: $446309.05

Greatest Increase in Profits:
Date             Feb-2012
Profit/Losses     1170593
Name: 25, dtype: object

Greatest Decrease in Profits:
Date             Sep-2013
Profit/Losses    -1196225
Name: 44, dtype: object